//- extends layout

//- block content
//-     h1 #{pageTitle}
//-     ul.list-group
//-       each vote, i in votes
//-         li.list-group-item
//-           a(href="/projects/"+vote.id)= vote.title
