<?xml version="1.0"?>
<configuration>
 <system.webServer>
   <!-- indicates that the app.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

 <rewrite>
<rule name="Imported Rule 2" stopProcessing="true">
    <match url="^api/(.*)$" ignoreCase="false" />
    <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="app.js" appendQueryString="true" />
</rule>
 </rules>
 </rewrite>
 </system.webServer>
</configuration>